body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.headersection nav {
    background-color: hsl(0deg 0% 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    border-bottom: 2px hsl(0deg 0% 90.59%) solid;
    height: 60px;
}

.logo h1 a {
    color: hsl(233.86deg 100% 49.8%);
    text-decoration: none;
}

.navlist ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    list-style: none;
    cursor: pointer;
    color: hsl(214.84deg 14.42% 42.16%);
}
/* .navlist ul :last-child {
    color: black;
} */
.rightbtn {
    display: flex;
}

.navlist {
    color: hsl(214.84deg 14.42% 42.16%);
}

.contactbtn a {
    text-decoration: none;
    color: black;
}

.rightbtn i {
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.rightbtn {
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.lang {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.fa-globe {
    color: hsl(233.86deg 100% 49.8%);
    font-size: 20px;
}

.loginbtn {
    background-color: transparent;
    /* border: none; */
    border: 3px solid hsl(233.86deg 100% 49.8%);
    border-radius: 30px;
    padding: 10px 20px;
    /* height: 35px; */
}

/* <!--todo this is hero section  --> */
.hero {
    background-color: hsl(0deg 0% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.herodiv {
    text-align: center;
}

.firstp {
    color: hsl(214.84deg 14.42% 42.16%);
}

.secondp {
    color: black;
    font-size: 25px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 35px;
}

.bluecolor {
    color: hsl(233.86deg 100% 49.8%);
}

.bluecolor a {
    color: hsl(233.86deg 100% 49.8%);
}

.thirdp {
    color: hsl(214.84deg 14.42% 42.16%);
    margin-bottom: 40px;
}

.reservebtn {
    background-color: hsl(233.86deg 100% 49.8%);
    color: white;
    border-radius: 30px;
    margin-right: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.tourbtn {
    border-radius: 30px;
    margin-right: 10px;
    padding: 10px;
    border: none;
    background-color: hsl(218.18deg 13.58% 84.12%);
    cursor: pointer;
}

/* todo search section */
.search {
    background-color: hsl(216deg 20% 95.1%);
    margin: 50px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* justify-content: space-between; */
}

.space-type {
    flex: 1;
}
.space-options .select-options {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    /* border: none; */
    border: 1px solid hsl(225deg 10.53% 92.55%);
}
.select-options .fa-chevron-down {
    /* padding: 10px;
    margin-right: 10px;
    padding-right: 20px;
    font-size: 20px;
    background-color: yellow; */
    /* display: flex;
    justify-content: space-between; */
}

/* todo location  */
.location {
    flex: 1;
}
.location-options .location {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    /* border: none; */
    border: 1px solid hsl(225deg 10.53% 92.55%);
}

/* todo numbers of people  */
.number-of-people {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.number-of-people .number-input {
    /* display: flex;
    gap: 20px;
    flex-direction: column; */
}
.count  {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}
.count .minus-plus {
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid hsl(225deg 10.53% 92.55%);
    background-color: white;
}
.input-a-number {
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid hsl(225deg 10.53% 92.55%);
    background-color: white;
    width: 10px;
}
.submit-search {
    display: flex;
    gap: 20px;
    flex: 0.1;
    align-items: center;
}
.submit-search-btn {
    /* gap: 20px; */
    background-color: hsl(233.86deg 100% 49.8%);
    color: white;
    border-radius: 15px;
    /* margin-right: 10px; */
    padding: 8px;
    border: none;
    cursor: pointer;
    height: 50px;
}